* {
    box-sizing: border-box;
    margin: 0;
}
.flex, .flex-wrap {
    display: flex;
    &.\-center {
        justify-content: center;
    }
    &.\-middle {
        align-items: center;
    }
}
.flex-wrap {
    flex-wrap: wrap;
}
.margin-auto {
    margin: auto;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.fixed {
    position: fixed;
}
.block {
    display: block;
}
.cursor-pointer {
    cursor: pointer;
}
.rounded {
    border-radius: 50%;
}
.overflow-auto {
    overflow: auto;
}
.w-100 {
    width: 100%;
}
.max-w-100 {
    max-width: 100%;
}
.no-decoration {
    text-decoration: none;
}