---
import BaseLayout from '@layouts/BaseLayout.astro'
import type { BaseLayoutMetadata } from '@typescript/types'
import GalleryThumbnail from '@components/GalleryThumbnail.vue'
import { sortPostByDate } from '@typescript/utils'
export async function getStaticPaths({ paginate }) {    
    const allPosts = await Astro.glob('/src/pages/galeria/*.md')
    const sorted = sortPostByDate(allPosts)
    interface Post {
        title: string
        picture: string
        url: string
        thumbnailWidth?: number
        thumbnailHeight?: number
    }
    const posts: Post[] = sorted.map(({frontmatter, url}) => ({
        title: frontmatter.title,
        picture: frontmatter.picture,
        url: url,
        thumbnailWidth: frontmatter.thumbnailWidth,
        thumbnailHeight: frontmatter.thumbnailHeight
    }))
    return paginate(posts, { pageSize: 12 })
}
const { page } = Astro.props
const metadata: BaseLayoutMetadata = {
    title: 'Blog',
    description: '',
    image: ''
}
---
<BaseLayout metadata={metadata}>
    <div class="flex-wrap">
        {page.data.map(post => (
            <GalleryThumbnail title={post.title}
                picture={post.picture}
                url={post.url}
                width={post.thumbnailWidth}
                height={post.thumbnailHeight}
                client:visible />
        ))}
    </div>
</BaseLayout>