---
import BaseLayout from '@layouts/BaseLayout.astro'
import type { BaseLayoutMetadata } from '@typescript/types'
import RecentGalleryPosts from '@components/RecentGalleryPosts.astro'
const metadata: BaseLayoutMetadata = {
    title: 'frshmastr.neocities.org',
    description: '',
    image: ''
}
---
<script>
</script>
<BaseLayout metadata={metadata}>
    <h2>Publicaciones recientes</h2>
    <RecentGalleryPosts />
</BaseLayout>