<script setup lang="ts">
import { StyleValue } from 'vue';
defineProps<{
    url: string
    style?: string | StyleValue
    class?: any
}>()
</script>

<template>
<a :href="url" :style="style" target="_blank" rel="noreferrer noopener">
    <slot></slot>
</a>
</template>