<script setup lang="ts">
import { ref, StyleValue } from 'vue';
const props = defineProps<{
    title: string
    url: string
    picture: string
    width: number
    height: number
}>()
const thumbnailSrc = '/img/gallery/thumbnails/' + props.picture
const show = ref(false)
const thumbnail: StyleValue = {
    width: props.width + 'px',
    height: props.height + 'px',
    marginLeft: '1rem',
    marginTop: '1rem',
}
</script>

<template>
<div @mouseenter="show = true"
    @mouseleave="show = false"
    class="relative" :style="thumbnail">
    <a :href="url" class="link no-decoration">
        <img :width="width"
            :height="height"
            :src="thumbnailSrc" 
            :alt="title" >
        <Transition>
            <div v-if="show"
                class="title absolute flex -center -middle w-100" >
                {{title}}
            </div>
        </Transition>
    </a>
</div>
</template>

<style scoped lang="scss">
@use '/src/sass/materialUi';
.link {
    color: materialUi.$grey50;
    font-weight: 600;
}
.title {
    bottom: 0;
    height: 75px;
    background-color: rgba($color: black, $alpha: 0.6);
    text-align: center;
}
.v-enter-active, .v-leave-active {
    transition: all 0.5s ease;
}
.v-enter-from, .v-leave-to {
    opacity: 0;
}
</style>