<script setup lang="ts">
import Modal from '@components/Modal.vue'
import { ref, reactive, watch, onMounted } from 'vue';
import { Keypress } from '@typescript/Keypress'
const props = defineProps<{
    imageSrc: string
    altText: string
}>()
const modal = ref<InstanceType<typeof Modal> | null>(null)
const maxSize = ref(false)
function closeModal() {
    modal.value?.close()
    maxSize.value = false
}
const content = ref(null)
function close(target: EventTarget) {
    if(target !== content.value) {
        closeModal()
    }
}
onMounted(() => {
    const keepress = new Keypress(document)
    keepress.esc(closeModal)
})
const open = () => modal.value?.open()
const cursorStyle = reactive({ cursor: 'zoom-in'})
watch(maxSize, (max) => {
    if(max) {
        cursorStyle.cursor = 'zoom-out'
    } else {
        cursorStyle.cursor = 'zoom-in'
    }
})
</script>

<template>
<div class="display flex -center">
    <img @click="open"
        :src="imageSrc"
        :alt="altText"
        class="preview cursor-pointer max-w-100" >
</div>
<Modal @click="close"
    class="modal-background flex -center"
    ref="modal" >
    <span class="close fixed cursor-pointer flex -center -middle rounded">
        &#10005;
    </span>
    <div class="frame flex -center" :class="{'margin-auto': maxSize}">
        <img @click="maxSize = !maxSize"
            class="fullsize max-w-100"
            :style="cursorStyle"
            :src="imageSrc"
            :alt="altText"
            ref="content">
    </div>
</Modal>
</template>
<style scoped lang="scss">
.display {
    height: 400px;
}
.preview {
    max-height: 100%;
    align-self: center;
    flex-shrink: 0;
    padding: 24px;
}
.modal-background {
    background-color: rgba($color: black, $alpha: 0.7);
}
$size: 40px;
.close {
    background-color: white;
    top: 5vh;
    right: 5vw;
    width: $size;
    height: $size;
    font-size: 30px;
}
.fullsize {
    flex-shrink: 0;
}
@media screen and (max-width: 960px) and (orientation: portrait) {
    .frame {
        max-height: 100vh;
    }
    .modal {
        align-items: center;
    }
}
</style>