<script setup lang="ts">
import { ref } from 'vue'
const emit = defineEmits<{
    (emit: 'click', target: EventTarget): void
}>()
const show = ref(false)
const close = () => show.value = false
const open = () => show.value = true
defineExpose({
    close,
    open
})
const click = (target: EventTarget) => emit('click', target)
</script>

<template>
<Transition>
    <div v-if="show"
        @click="click($event.target)"
        class="modal fixed overflow-auto w-100" >
        <slot></slot>
    </div>
</Transition>
</template>

<style scoped lang="scss">
$duration: 0.3s;
.modal {
    height: 100vh;
    z-index: 999;
    left: 0;
    top: 0;
}
.v-enter-active {
    transition: all $duration ease-in;
}
.v-leave-active {
    transition: all $duration ease-out;
}
.v-enter-from, .v-leave-to {
    opacity: 0;
}
</style>