---
import GalleryThumbnail from '@components/GalleryThumbnail.vue'
import { sortPostByDate } from '@typescript/utils'
const allPosts = await Astro.glob('/src/pages/galeria/*.md')
const recent = sortPostByDate(allPosts).slice(0, 3)
---
<h3>Galería</h3>
<div class="flex-wrap -center">
    {recent.map(({frontmatter, url}) => (
        <GalleryThumbnail title={frontmatter.title}
            url={url}
            picture={frontmatter.picture}
            width={frontmatter.thumbnailWidth}
            height={frontmatter.thumbnailHeight}
            client:load />
    ))}
</div>