---
import '@sass/base.scss'
import type { BaseLayoutMetadata } from '@typescript/types'
export interface Props {
    metadata: BaseLayoutMetadata
}
const { title, description, image } = Astro.props.metadata
const url = Astro.canonicalURL.href
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content={title}>
    <meta name="url" content={url}>
    <meta name="description" content={description}>
    <meta property="og:title" content={title}>
    <meta property="og:type" content="website">
    <meta property="og:url" content={url}>
    <meta property="og:image" content={image}>
    <meta property="og:description" content={description}>
    <meta property="og:locale" content="es_MX">
    <title>{title}</title>
</head>
<body>
    <div>
        <slot/>
    </div>
</body>
</html>
<style lang="scss">
@use '/src/sass/materialUi';
@use '/src/sass/mediaQuery';

body {
    color: materialUi.$grey900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div {
    min-height: 100vh;
    background-color: materialUi.$grey100;
}
@include mediaQuery.largeScreen {
    div {
        width: 66.66%;
        margin: 0 auto;
    }
    body {
        background-color: materialUi.$deepPurple200;
    }
}
</style>