---
import BaseLayout from '@layouts/BaseLayout.astro'
import type { BaseLayoutMetadata } from '@typescript/types'
import ImageDisplay from '@components/ImageDisplay.vue'
const { content } = Astro.props
const picture = '/img/gallery/fullsize/' + content.picture
const title = content.title
const metadata: BaseLayoutMetadata = {
    title: title,
    description: '',
    image: picture
}
---
<BaseLayout metadata={metadata}>
    <ImageDisplay imageSrc={picture} altText={title} client:load />
    <h1>{title}</h1>
    <slot />
</BaseLayout>